OPENAI_API_KEY=
YOUTUBE_API_KEY=
ZHIHU_API_TOKEN=
ZHIHU_ACCESS_SECRET=
GDELT_CLOUD_API_KEY=
LLM_BUDGET_PER_RUN=8
SOURCE_BAIDU_ENABLED=true
SOURCE_36KR_ENABLED=true
SOURCE_PEOPLE_ENABLED=true
SOURCE_HN_ENABLED=true
SOURCE_WIKIMEDIA_ENABLED=true
SOURCE_BBC_ENABLED=true
SOURCE_GDELT_ENABLED=false
SOURCE_YOUTUBE_ENABLED=false
SOURCE_ZHIHU_ENABLED=false
SOURCE_WEIBO_ENABLED=false
SOURCE_GOOGLE_TRENDS_ENABLED=false
